{% load i18n %}

<script>
    var url_iscrizione_newsletter = "{% url 'newsletter_form_subscribe_user' %}";
    var text_newsletter_button_disabled = '{{ text_newsletter_button_disabled }}';
    var text_newsletter_button_enabled = '{{ text_newsletter_button_enabled }}';
    var title_modal_error_dialog = '{{ title_modal_error_dialog }}';
    var title_modal_success_dialog = '{{ title_modal_success_dialog }}';
</script>

<div class="form-iscrizione-newsletter">
    <div class="form-iscrizione-newsletter-input">
        <input id="id_email_form_iscrizione_newsletter" class="input-newsletter form-control" type="text" name="email"
               placeholder="{% trans 'Inserisci la tua email' %}">
    </div>
    <div class="error" id="id_error_form_iscrizione_newsletter" style="display: none; color:red;">
        {% trans "Inserisci la tua email" %}
    </div>
    <button href="#" class="btn btn-primary"
            id="id_button_form_iscrizione_newsletter">{% trans "ISCRIVITI ORA" %}</button>
</div>

<!-- Modal content -->
<!-- The Modal -->
<div id="modalNewsletterForm" class="modal-newsletter-form">
  <!-- Modal content -->
  <div class="modal-newsletter-form-content">
    <div class="modal-newsletter-form-header">
        <span class="modal-newsletter-form-close">&times;</span>
        <h2 id="modalNewsletterTitolo"></h2>
    </div>
    <div class="modal-newsletter-form-body">
    </div>
  </div>
</div>
