{% load i18n %}

<script>
    var url_iscrizione_newsletter = "{% url 'newsletter_form_subscribe_user' %}";
    var text_newsletter_button_disabled = '{{ text_newsletter_button_disabled }}';
    var text_newsletter_button_enabled = '{{ text_newsletter_button_enabled }}';
    var title_modal_error_dialog = '{{ title_modal_error_dialog }}';
    var title_modal_success_dialog = '{{ title_modal_success_dialog }}';
    var manage_first_name = {% if manage_first_name %}true{% else %}false{% endif %};
    var manage_last_name = {% if manage_last_name %}true{% else %}false{% endif %};
    var first_name_mandatory = {% if first_name_mandatory %}true{% else %}false{% endif %};
    var last_name_mandatory = {% if last_name_mandatory %}true{% else %}false{% endif %};
</script>

<div class="form-iscrizione-newsletter">
    <div class="form-iscrizione-newsletter-input">
        <input id="id_email_form_iscrizione_newsletter" class="input-newsletter form-control" type="text" name="email"
               placeholder="{% trans 'Insert your email' %}">
        <div class="error" id="id_error_email_form_iscrizione_newsletter" style="display: none; color:red;">
        {% trans "Insert your email" %}
        </div>

        {% if manage_first_name %}
        <input id="id_first_name_form_iscrizione_newsletter" class="input-newsletter form-control" type="text" name="first_name"
               placeholder="{% trans 'First name' %}">
        <div class="error" id="id_error_first_name_form_iscrizione_newsletter" style="display: none; color:red;">
        {% trans "Insert your first name" %}
        </div>
        {% endif %}

        {% if manage_last_name %}
        <input id="id_last_name_form_iscrizione_newsletter" class="input-newsletter form-control" type="text" name="last_name"
               placeholder="{% trans 'Last name' %}">
        <div class="error" id="id_error_last_name_form_iscrizione_newsletter" style="display: none; color:red;">
        {% trans "Insert your last name" %}
        </div>
        {% endif %}
    </div>
    <button href="#" class="btn btn-primary"
            id="id_button_form_iscrizione_newsletter">{% trans "SUBSCRIBE NOW" %}</button>
</div>

<!-- Modal content -->
<!-- The Modal -->
<div id="modalNewsletterForm" class="modal-newsletter-form">
  <!-- Modal content -->
  <div class="modal-newsletter-form-content">
    <div class="modal-newsletter-form-header">
        <span class="modal-newsletter-form-close">&times;</span>
        <h2 id="modalNewsletterTitolo"></h2>
    </div>
    <div class="modal-newsletter-form-body">
    </div>
  </div>
</div>
